@model IEnumerable<Department>
<table class="table table-striped">
    <thead>

    </thead>
    <tbody>
        @foreach (Department department in Model)
        {
            <tr>

                <td class="py-1">
                    <p>@department.Abbreviation.ToUpper() / @department.Name.ToLower()</p>
                </td>
                <td>
                    <a asp-action="DepDetail" asp-route-id="@department.Id" asp-controller="Teacher" asp-area="Admin" class="btn btn-success"><i class=" mdi mdi-details "></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>