@model IEnumerable<Hobby>
<table class="table table-striped">
    <thead>

    </thead>
    <tbody>
        @foreach (Hobby hobby in Model)
        {
            <tr>

                <td class="py-1">
                    <p>@hobby.Name.ToLower()</p>
                </td>
                <td>
                    <a asp-action="HobbyDetail" asp-route-id="@hobby.Id" asp-controller="Teacher" asp-area="Admin" class="btn btn-success"><i class=" mdi mdi-details "></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>