@model Speaker
    <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Speaker Image</label>
                    <input asp-for="Photo" class="form-control" placeholder="Number">

                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Speaker Name</label>
                    <input asp-for="Name" type="text" class="form-control" placeholder="Number">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Speaker Speciality</label>
                    <input asp-for="Speciality" type="text" class="form-control" placeholder="Number">
                </div>
            </div>
    </div>