@model Slider

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Delete Slider</h4>
                <img src="~/img/slider/@Model.Image" style="width:70%" alt="Alternate Text" />
                <div class="row">
                    <form class="forms-sample mt-5" method="post" enctype="multipart/form-data" runat="Server">
                        <button id="submit_button" type="submit" class="btn btn-danger ml-2">Delete</button>
                        <a asp-action="Index" class="btn btn-dark ml-3">Go to Index</a>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>