@model HeaderFooterVM

    <header class="top">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="header-top-left">
                            <p>HAVE ANY QUESTION ?  @Model.CenterPhoneNumbers.ElementAt(0).Phone</p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="dropdown text-right" style="z-index:1;margin-top:15px">
                                <button style="background: none !important;color:white" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @ViewBag.Fullname
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width:50%;text-align:right;margin-left:175px" >
                                    <a style="display:block;width:52%;margin-left:39px" class="dropdown-item" href="#">View Profile</a>
                                    <a style="display:block;width:52%;margin-left:19px!important" class="dropdown-item" asp-action="Logout" asp-controller="Account">Logout</a>
                                </div>
                            </div>

                        }
                        else
                        {

                            <div class="header-top-right text-right" style="display:flex;align-items:center;height:67px;justify-content:end">

                                <ul>
                                    <li><a asp-action="Login" asp-controller="Account">login</a></li>
                                    <li><a asp-action="Register" asp-controller="Account">signup</a></li>
                                </ul>

                            </div>
                        }
                    </div>
                        
                </div>
            </div>
        </div>
        <div class="header-area two header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <div class="logo">
                            <a asp-action="Index" asp-controller="Home"><img src="~/img/logo/@Model.Data.Logo" alt="eduhome" /></a>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-6">
                        <div class="content-wrapper text-right">
                            <!-- Main Menu Start -->
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li>
                                            <a asp-action="Index" asp-controller="Home">Home</a>
                                        </li>
                                        <li><a asp-action="Index" asp-controller="About">About</a></li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Course">courses</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Event">event</a>
                                        </li>
                                        <li class="hidden-sm">
                                            <a asp-action="Index" asp-controller="Teacher">teacher</a>
                                        </li>
                                        <li>
                                            <a asp-action="Index" asp-controller="Blog">blog</a>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            @{string controller = @ViewContext.RouteData.Values["controller"].ToString();}
                            @if (controller != "Home" && controller != "About" && controller != "Contact")
                            {
                                <input type="hidden" id="ctrl" value="@controller" />
                                <!--Search Form Start-->
                                <div class="search-btn">
                                    <ul data-toggle="dropdown" class="header-search search-toggle">
                                        <li class="search-menu">
                                            <i class="fa fa-search"></i>
                                        </li>
                                    </ul>
                                    <div class="search">
                                        <div class="search-form">
                                            <form id="search-form" action="#">
                                                <input type="search" placeholder="Search here..." name="search" class="search-field" autocomplete="off" />
                                                <ul class="list-group my-list-group">
                                                </ul>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--End of Search Form-->
                            }
                            <!-- Main Menu End -->
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="mobile-menu hidden-lg hidden-md hidden-sm"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
